*
{
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body
{
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1, h3
{
  font-family: 'Ubuntu', sans-serif;
}

h1
{
  margin-bottom: 0.4rem;
  color: #011627;
  font-style: italic;
  letter-spacing: 0.1em;
}

h3
{
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}

p
{
  padding: 0.4rem;
  letter-spacing: 0.07em;
}

a
{
  text-decoration: none;
  outline: 0;
}


/* left-bar  */

.left-bar
{
  background-color: #1a535c;
  width: 32%;
}

.left-bar .blocks
{
  width: 70%;
  padding: 2.5rem;
  margin: 8.3rem auto;
  text-align: center;
  border: 10px double white;
  transition: 0.5s ease;
}

.left-bar .blocks:hover
{
    box-shadow: 0px 0px 25px 0px #fefae0;
    transition: 0.5s ease;
}

.left-bar h3
{
  font-size: 1.6rem;
  padding: 0.3rem;
  color: #1a535c;
  background-color: white;
  border-radius: 100%;
  margin: 2rem;
  margin-top: 1rem;
  transition: 0.5s ease;
}

.left-bar p
{
  margin-bottom: 0.5rem;
  color: white;
}

/* left-bar personal-details */

img
{
  display: block;
  width: 225px;
  height: auto;
  border-radius: 100%;
  margin: 1.5rem auto 2.5rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px 0px black;
}

/* left-bar a */
/* Slider-left */

      .c, .header
      {
        overflow: hidden;
      }

      .header
      {
        text-align: justify;
      }

      .header h3
      {
        border: 0;
      }

      .a
      {
        display: none;
        width: 90%;
        height: 20rem;
        margin: 0rem auto 7%;
        padding: 5% 10%;
        position: relative;
        justify-content: center;
        align-items: center;
        border-left: 10px solid white;
      }

      .a .header h3
      {
        font-size: 1rem;
        background-color: transparent;
        color: white;
        margin: 0;
      }

      .a .header p
      {
        padding: 2.5% 0.5%;
      }

      .a h1
      {
        color: #4acfbf;
        margin: 0;
      }

      .b:hover .c
      {
        width: 100%;
        transition: 1.5s ease;
        border: 1.5px solid white;
      }

      .c
      {
        width: 90%;
        display: flex;
        position: absolute;
        width: 0;
        top: 0;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        transition: 1.5s ease;
        text-align: center;
        white-space: nowrap;
        background-color: #1a535c;
      }

      .c h3
      {
        font-size: 1rem;
      }

      .c p
      {
        font-size: 12px;
      }

      .slider-icon
      {
        position: absolute;
        left: 0;
        font-size: 2rem;
        color: white;
        padding: 1.5rem 2rem;
        border-radius: 5rem;
        border: 3px solid  #1a535c;
        background-color: #83c5be;
        transform: translate(-50%, -50%);
        transition-delay: 1.5s;
        margin-left: -5px;
        z-index: 3;
      }

      /* ************* Tooltip for medium screens ****************** */


.tooltip .tooltiptext {
  visibility: visible;
  width: 125px;
  background-color: #000000bd;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  position: absolute;
  z-index: 5;
  bottom: 66%;
  left: 0;
  margin-left: -67.5px;
  box-shadow: 0px 0px 10px 0px white;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: hidden;
}



/* left-bar personal-details details */

.details p
{
  display: flex;
}

.icon
{
  flex-basis: 15%;
  font-size: 1.2rem;
  color: #83c5be;
  text-align: center;
}

.name
{
  text-align: left;
  flex-basis: 85%;
  color: white;
}

.linkedin .icon
{
  padding-top: 0.2rem;
}

.details p:hover .icon
{

  text-shadow: 0px 0px 10px #ced4da;
  transition: 0.5s ease;
}

.details p:hover .name
{
  padding-left: 0.7rem;
  transition: 0.5s ease;
}

/* onclick-Downslider */

.Downslider
{
  display: none;
  width: 90%;
  margin: 2rem auto;
  padding: 2.5%;
}

.Downslider .header-ds h3
{
  font-size: 1rem;
  border-radius: 0;
  background-color: transparent;
  color: white;
  margin: 0;
}

.Downslider .header-ds p
{
  padding: 4% 0.5%;
  text-align: justify;
  padding-bottom: 20%;
}

.Downslider h1
{
  color: #4acfbf;
  margin: 0;
}

.blocks-ds
{
  visibility: visible;
  border: 4px double white;
  text-align: center;
  padding: 5%;
}

.blocks-ds:hover
{
  box-shadow: 0px 0px 25px 0px #fefae0;
  transition: 0.5s ease;
}

.blocks-ds h3
{
  color: white;
  border-radius: 0;
  background-color: transparent;
  margin: 0;
  margin-bottom: 5%;
}

.a-ds
{
  position: relative;
}

.container-ds {
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #1a535c;
  color: white;
  position: absolute;
  box-shadow: 0px 10px 10px -10px black;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  overflow: hidden;
}

.icon-ds
{
  font-size: 2rem;
  padding: 0.5rem 1.7rem;
  border-radius: 0 0 3rem 3rem;
  border: 3px solid white;
  border-top: 0px solid #1a535c;
  color: white;
  background-color: #1a535c;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: -3.3rem;
  box-shadow: 0 10px 10px -10px black;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s ease;
}

.container-slidedown
{
  height: 450px;
  visibility: visible;
  transition: 0.5s ease;
}

.icon-slidedown
{
  margin-top: 450px;
  transition: 0.5s ease;
}

.container-ds:hover .blocks-ds
{
  visibility: visible;
  transition: 0.5s ease;
}

/* ********************** tooltip for small screens *************8 */

.tooltip .tooltiptext1 {
  font-size: 90%;
  visibility: visible;
  width: 20%;
  background-color: #000000bd;;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1% 0.5%;
  position: absolute;
  z-index: 5;
  top: 13px;
  left: 60%;
  box-shadow: 0px 0px 10px 0px black;
}

.tooltip .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext1 {
  visibility: hidden;
}



/* left-bar interests */
/* left-bar languages */


/* main-block */

.main-block
{
  margin: 1.5rem auto 4rem;
  width: 68%;
}

.main-block .blocks
{
  margin: 2rem 6rem;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 20px -9px black;
  border-radius: 8px;
}

.main-block .title
{
  font-size: 1.47rem;
  margin-bottom: 2.5rem;
}

.main-block p
{
  margin: 0.3rem;
}


/* main-block intro */

.intro
{
  padding: 2rem;
}

.intro h3
{
  font-weight: 500;
  margin: 0.7rem 0rem 2rem;
}

.intro p
{
  margin-top: 1.3rem;
  letter-spacing: 0.03em;
  text-align: justify;
  line-height: 1.6em;
}

/* main-block prof-Skills */

.prof-skills a
{
  color: #2a9d8f;
  font-weight: bold;
  margin-left: 0.6rem;
  border-bottom: 1.4px solid #2a9d8f;
}

.prof-skills a:hover
{
  border-bottom: 0;
}

.prof-skills h3
{
  margin-bottom: 1.7rem;
}

.ps
{
  display: flex;
}

.ps h3
{
  font-style: italic;
  font-size: 1.23rem;
}

.pl, .others
{
  margin-bottom: 1rem;
  border-right: 2px solid #a2a4c3;
  width: 50%;
  text-align: center;
}

.others
{
  border: 0;
}


/* main-block work-exp  */
/* main-block edu-quali  */

.engi, .inter, .school
{
  margin: 1rem auto;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #a2a4c3;
  width: 90%;
}

.engi
{
  margin-top: 2rem;
}

.school
{
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

/* main-block skills  */

.skills p
{
  padding-left: 1.4rem;
}

/* main-block my-projects */

.project
{
  margin-bottom: 1.7rem;
  padding-left: 1.4rem;
}

.colorGen
{
  margin-bottom: 0;
}

.project p
{
  line-height: 1.6em;
}

.project h3
{
  margin-bottom: 0.3rem;
}

.project a
{
  color: #2a9d8f;
  border-bottom: 1.4px solid #2a9d8f;
}

.project a:hover
{
  border-bottom:  0;
}


/* Media Quries  */

@media screen and (max-width: 2000px) and (min-width: 1539px)
{
  .personal-details.blocks
  {
    margin-top: 5rem;
  }

  .left-bar
  {
    width: 40%;
  }

  .left-bar .blocks
  {
    width: 80%;
  }
}


@media screen and (max-width: 1539px)
{

  .left-bar .blocks
  {
    border: 4px double white;
    padding: 1.7rem 0.5rem;
  }

  .left-bar p
  {
    font-size: 14px;
    margin: 0;
  }

  .left-bar .icon
  {
    font-size: 1rem;
  }

  .left-bar .i-center
  {
    padding-top: 0.27rem;
  }

  .left-bar .name
  {
    padding: 0.2rem;
  }

  img
  {
    width: 170px;
    margin: 1rem auto 1.3rem;
    padding: 0.3rem;
  }

  /* main-block */

  .intro h1
  {
    font-size: 1.5rem;
    margin: 0;
  }

  .intro h3
  {
    font-size: 1rem;
    margin: 0.3rem 0rem 0rem;
  }

  .intro p
  {
    margin-top: 1rem;
  }

  .main-block
  {
    margin: 1.2rem auto 2.5rem;
  }

  .main-block .blocks
  {
    width: 90%;
    margin: 1.3rem auto;
    padding: 2.3rem;
  }

  .main-block .title
  {
    font-size: 1.2rem;
    margin: 0;
  }

  .main-block p
  {
    font-size: 14px;
  }

  .ps h3
  {
    font-size: 1rem;
  }

  .edu-quali h3
  {
    font-size: 0.93rem;
  }

  .my-projects h3
  {
    font-size: 0.93rem;
  }

  .content, .ps
  {
    margin: auto;
    margin-top: 1.5rem;
  }

}


@media screen and (max-width: 1539px) and (min-width: 1023px)
{

/* left-bar  */

.left-bar
{
  width: 37%;
}

  .left-bar .blocks
  {
    width: 75%;
    margin: 13rem auto;
  }

  .left-bar .blocks:first-child
  {
    margin-top: 7.5rem;
  }

  .left-bar h3
  {
    font-size: 1.2rem;
    transition: 0.5s ease;
    margin: 0.7rem;
  }

}

@media screen and (max-width: 1200px) and (min-width: 1023px)
{

  .left-bar
  {
    width: 40%;
  }

  .left-bar .blocks
  {
    width: 85%;
  }
}


@media screen and (max-width: 1023px)
{
  body
  {
    display: block;
  }

  .left-bar
  {
    width: 100%;
    box-shadow: 0px 10px 20px -10px black;
    padding: 5%;
  }

  .interests, .languages
  {
    display: none;
  }

  img
  {
    width: 30%;
    margin: 2.5%;
  }

  .main-block
  {
    margin-top: 4rem;
    width: 100%;
  }

  .main-block .blocks
  {
    margin: 1.5rem auto;
  }

  .main-block .intro
  {
    display: none;
  }

  .details h3
  {
    display: none;
  }

}


@media screen and (max-width: 1023px) and (min-width: 767px)
{

  .left-bar .blocks
  {
    margin: 5% auto;
    padding: 2.5%;
  }

  .left-bar .personal-details
  {
    display: flex;
    width: 100%;
    align-items: center;
  }

  /* left-bar personal-details details */

  .details
  {
    display: flex;
    order: 2;
    width: 60%;
    margin: 2.5%;
    flex-direction: column;
  }

  .details .name
  {
    text-align: left;
    display: block;
  }

  .details p
  {
    display: flex;
    padding-bottom: 0.5rem;
    text-align: center;

  }

  .details .icon
  {
    display: inline-block;
    padding: 0;
    margin: 0 7px;
  }

  /* left-bar personal-details a */

  .a
  {
    display: flex;
  }

  .c .blocks
  {
    justify-content: space-between;
    width: 37%;
  }


}


@media screen and (max-width: 767px)
{
  .left-bar
  {
    padding-bottom: 0;
  }


  img
  {
    width: 50%;
    margin: 5% auto;

  }

  .personal-details.blocks
  {
    width: 90%;
    margin: 3rem auto;
  }

  .details p .name
  {
    text-align: right;
  }

  .Downslider
  {
    display: block;
    padding-bottom: 0;
  }

  .ps
  {
    flex-direction: column;
  }

  .pl, .others
  {
    padding-bottom: 5%;
    border: 0;
    width: 90%;
    margin: auto;
  }

}

@media screen and (max-width: 419px)
{

  .left-bar .blocks
  {
    padding: 5% 0;
  }

  .header-ds h1
  {
    font-size: 1.2rem;
  }

  .Downslider .header-ds h3
  {
    font-size: 0.7rem;
    padding: 0;
    padding-top: 1.3%;
  }

  .blocks-ds h3
  {
    font-size: 1rem;
  }

  .icon-ds
  {
    font-size: 1.3rem;
    padding: 3% 7%;
  }

  .tooltip .tooltiptext1
  {
    font-size: 70%;
  }

  .left-bar p, .main-block p
  {
    font-size: 11px;
  }

  img
  {
    width: 60%;

  }

  .personal-details.blocks
  {
    width: 95%;
    margin-bottom:0;
  }

  .details p
  {
    flex-direction: column;
  }

  .details p .name
  {
    text-align: center;
  }

  .main-block .title
  {
    font-size: 1rem;
  }

  .main-block .blocks
  {
    padding: 1rem;
  }

  .ps h3
  {
    font-size: 0.8rem;
    margin-bottom: 8%;
  }

  .edu-quali h3, .my-projects h3
  {
    font-size: 0.73rem;
  }


}
